In [12]:
import pandas as pd

In [2]:
df = pd.DataFrame({'name': ['jon','sam','jane','bob'],
           'age': [30,25,18,26],
           'sex':['male','male','female','male']})
# new line
line = pd.DataFrame({'name': 'dean', 'age': 45, 'sex': 'male'}, index=[0])
# concatenate two dataframe
df2 = pd.concat([line,df[:]]).reset_index(drop=True)
print (df2)

   name  age     sex
0  dean   45    male
1   jon   30    male
2   sam   25    male
3  jane   18  female
4   bob   26    male

In [7]:
df2[['name', 'age']]

   name  age
0  dean   45
1   jon   30
2   sam   25
3  jane   18
4   bob   26

In [10]:
df2[df2.columns[0:2]]

   name  age
0  dean   45
1   jon   30
2   sam   25
3  jane   18
4   bob   26

In [ ]:
orig_df = pd.read_csv('/home/amptest/hliu/000-meta/zsh-env/11-python/data/eg.csv', sep='\t')
df = orig_df.dropna(axis=1, how="all")
# df.set_index(df.columns[0],inplace=True)
# df=df.T
# df.index
# df.iloc[:, 0]
df
df.rename(columns=)

,ID (ops/s),1,2,3,4,5,6,7,8
0,JSON Parse Array Large,6653.17,6890.30,7511.53,7581.77,6693.83,6765.07,6632.83,6696.17
1,JSON Parse Array Medium,13239.00,13590.50,14875.50,15033.90,13277.70,13378.70,13198.50,13275.30
2,JSON Parse Array Small,703803.00,714051.00,763286.00,774553.00,706044.00,719041.00,709331.00,701013.00
3,JSON Parse Nested Large,4571.10,4729.33,5326.53,5442.50,4639.23,4642.30,4495.53,4502.10
4,JSON Parse Nested Medium,9167.23,9412.00,10667.60,10849.10,9289.67,9306.90,9049.13,9030.27
5,JSON Parse Nested Small,693939.00,723466.00,779042.00,797313.00,716645.00,725748.00,700028.00,698177.00
6,Geomean,34886.10,35934.90,39460.30,40097.60,35309.90,35614.60,34774.60,34776.00

In [21]:
df.iloc[:, 0]

0      JSON Parse Array Large
1     JSON Parse Array Medium
2      JSON Parse Array Small
3     JSON Parse Nested Large
4    JSON Parse Nested Medium
5     JSON Parse Nested Small
6                     Geomean
Name: ID (ops/s), dtype: object

In [19]:
data = {
    "labels": list(df.iloc[:, 1] + " #" + df.iloc[:, 0].astype(str)),
    "datasets": datasets,
}

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U32'), dtype('<U32')) -> dtype('<U32')